:root {
  --main-color: #ffe92d;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: none;
  border: none;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 44px 0 36px;
  margin: 0 auto;
}

.header {
  background: #fff url("../img/header-bg.png") no-repeat center;
  background-size: cover;
  padding-top: 39px;
  position: relative;
}

.header__container {
  position: relative;
  z-index: 5;
}

.header:before {
  content: '';
  display: block;
  position: absolute;
  width: 154px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.69);
  top: 0;
  left: 0;
}

.header:after {
  content: '';
  display: block;
  position: absolute;
  width: 230px;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 78px;
  left: 43px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 51px;
}

.header-top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__logo {
  width: 62px;
  height: 62px;
  display: block;
  background-color: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: 21.5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-right: 9px;
  padding-left: 3px;
}

.header-top__expert {
  margin-top: 9px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #a3a3a3;
}

.header-top__name {
  margin-top: 4px;
  font-family: "Roboto Slab", serif;
  font-size: 23.4px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.header-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__whatsapp-wrapper {
  width: 37px;
  height: 37px;
  background-color: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 13px;
  margin-top: 4px;
  padding-top: 4px;
  padding-left: 1px;
}

.header-top__phone {
  font-family: "Roboto Slab", serif;
  font-size: 20.5px;
  line-height: 1.2;
  text-transform: uppercase;
  display: block;
}

.header-top__call-whatsapp {
  display: block;
  text-align: right;
  font-size: 12px;
  line-height: 1.2;
  text-decoration: underline;
  letter-spacing: 0.1em;
  color: #7d7d7d;
  margin-top: 4px;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
}

.header-main__text {
  margin-top: 78px;
}

.header-main__title {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 22px;
  max-width: 505px;
}

.header-main__title--block {
  display: block;
}

.header-main__title--yellow {
  position: relative;
  z-index: 2;
  display: inline-block;
}

.header-main__title--yellow:before {
  content: '';
  display: block;
  position: absolute;
  height: 39px;
  width: 106.5%;
  left: -9px;
  background-color: var(--main-color);
  z-index: -1;
}

.header-main__list {
  margin-bottom: 31px;
  max-width: 505px;
}

.header-main__item {
  line-height: 25px;
  letter-spacing: 0.1em;
}

.header-main__link {
  min-width: 407px;
  min-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-main__icon-wrapper {
  width: 53px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000000;
}

.header-main__call-text {
  font-family: "Roboto Slab", serif;
  font-size: 21.7px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--main-color);
  padding-left: 8px;
  padding-right: 9px;
}

.header-main__wrapper {
  position: relative;
}

.header-main__wrapper:before {
  content: '';
  display: block;
  position: absolute;
  width: 152px;
  height: 152px;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: -52px;
  left: -60px;
}

.header-main__poster {
  max-width: 100%;
}

.header-bottom {
  padding-bottom: 55px;
}

.header-bottom__text {
  font-size: 12px;
  line-height: 25px;
  position: relative;
}

.header-bottom__text:after {
  content: '';
  display: block;
  position: absolute;
  left: 109%;
  top: 38%;
  background: url("../img/header-arrow.png") no-repeat;
  width: 118px;
  height: 83px;
}

.steps {
  padding-top: 57px;
  padding-bottom: 74px;
  position: relative;
}

.steps:before {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 116px;
  height: 116px;
  bottom: 162px;
  right: 58px;
}

.steps:after {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 125px;
  height: 230px;
  bottom: 0;
  right: 0;
}

.steps__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 85px;
}

.steps__number {
  width: 80px;
  height: 80px;
  background-color: var(--main-color);
  font-family: "Roboto Slab", serif;
  font-size: 60.5px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 5px;
  padding-bottom: 7px;
  margin-right: 18px;
}

.steps__title {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 9px;
  margin-bottom: 3px;
}

.steps__subtitle {
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #9f9f9f;
}

.steps__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.steps__item {
  width: 33.3333%;
  text-align: center;
}

.steps__line {
  margin: 0 auto;
  margin-bottom: 18px;
  width: 144px;
  height: 8px;
  background-color: var(--main-color);
}

.steps__icon {
  margin-bottom: 14px;
}

.steps__icon--mr {
  padding-bottom: 2px;
}

.steps__text {
  font-family: "Roboto Slab", serif;
  font-size: 16.5px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 12px;
}

.steps__description {
  max-width: 224px;
  font-size: 14px;
  line-height: 1.2;
  color: #9f9f9f;
  margin: 0 auto;
}

.about {
  background-color: var(--main-color);
  position: relative;
}

.about:before {
  content: '';
  display: block;
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.2);
  right: 14.5%;
  top: 0;
}

.about:after {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 33px;
  background-color: rgba(0, 0, 0, 0.5);
  right: 16%;
  top: 146px;
}

.about__container {
  padding-right: 0;
  position: relative;
}

.about__container:before {
  content: '';
  display: block;
  position: absolute;
  width: 116px;
  height: 116px;
  background-color: rgba(0, 0, 0, 0.2);
  left: 93%;
  top: 69%;
  z-index: 1;
}

.about__container:after {
  content: '';
  display: block;
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 101%;
  top: 81%;
  z-index: 1;
}

.about__case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__left {
  padding-top: 42px;
}

.about__meet-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.about__badge {
  width: 80px;
  height: 80px;
  background-color: #000;
  color: #fff;
  font-family: "Roboto Slab", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 4px;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-right: 19px;
}

.about__titles-wrapper {
  display: inline-block;
}

.about__right {
  position: relative;
}

.about__right:before {
  content: '';
  display: block;
  position: absolute;
  width: 128px;
  height: 129px;
  background-color: rgba(0, 0, 0, 0.83);
  right: -90px;
  top: 34px;
}

.about__right:after {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.83);
  left: -100px;
  top: 343px;
}

.about__photo {
  display: block;
}

.about__title {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 11px;
}

.about__subtitle {
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.about__description {
  font-size: 19px;
  line-height: 1.2;
  max-width: 530px;
  margin-bottom: 44px;
}

.about__stats-wrapper {
  margin-bottom: 41px;
}

.about__item {
  border-left: 20px solid #000;
  min-height: 57px;
  padding-left: 20px;
}

.about__item:nth-child(1) {
  margin-bottom: 43px;
}

.about__stat {
  font-family: "Roboto Slab", serif;
  font-size: 41.4px;
  line-height: 0.8;
  font-weight: 700;
  margin-bottom: 9px;
}

.about__substat {
  font-size: 15.7px;
  line-height: 1.2;
}

.about__link {
  min-width: 407px;
  min-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 62px;
  position: relative;
}

.about__link:before {
  content: '';
  display: block;
  position: absolute;
  width: 116px;
  height: 116px;
  background-color: rgba(0, 0, 0, 0.2);
  left: 78%;
  top: -240px;
  z-index: 1;
  pointer-events: none;
}

.about__link:after {
  content: '';
  display: block;
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 88%;
  top: 21px;
  z-index: 1;
  pointer-events: none;
}

.about__icon-wrapper {
  width: 53px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.about__call-text {
  font-family: "Roboto Slab", serif;
  font-size: 21.7px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000;
  color: var(--main-color);
  padding-left: 8px;
  padding-right: 9px;
}

.about__first {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 7px;
}

.about__second {
  font-size: 12px;
  position: relative;
}

.about__second:after {
  content: '';
  display: block;
  position: absolute;
  width: 118px;
  height: 83px;
  left: 106%;
  top: 44%;
  background: url("../img/about_arrow.png") no-repeat;
}

.reviews {
  padding-top: 65px;
  padding-bottom: 167px;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 54px;
}

.reviews__number {
  min-width: 80px;
  height: 80px;
  background-color: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 5px;
  padding-left: 8px;
  letter-spacing: 0.1em;
  margin-right: 18px;
}

.reviews__title {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 10px;
  margin-bottom: 3px;
}

.reviews__subtitle {
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #9f9f9f;
}

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.reviews__icon {
  width: 48px;
  height: 48px;
  margin-bottom: 15px;
  background: url(../img/reviews_quotes.png) no-repeat center, var(--main-color);
}

.reviews__text {
  font-size: 11.8px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-weight: 400;
  max-width: 302px;
  margin-bottom: 14px;
}

.reviews__name {
  font-size: 15.6px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #a8a8a8;
}

.reviews__item {
  width: 45%;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 121.3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 100%;
  padding: 0;
}

.slick-dots li + li {
  margin-left: 17px;
}

.experience {
  background-color: #000;
  padding-top: 54px;
  padding-bottom: 53px;
}

.experience__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 61px;
}

.experience__icon {
  width: 80px;
  height: 80px;
  background: url("../img/experience_icon.png") no-repeat center, var(--main-color);
  margin-right: 17px;
}

.experience__title {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 2px;
}

.experience__subtitle {
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #9f9f9f;
}

.experience__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience__item {
  width: calc(100% / 3);
  position: relative;
}

.experience__item:before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50px;
  background-color: var(--main-color);
}

.experience__item:last-child:before {
  display: none;
}

.experience__date {
  font-family: "Roboto Slab", serif;
  font-size: 14.4px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.experience__post {
  font-size: 9.1px;
  color: #fff;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}

.experience__circle {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: var(--main-color);
  margin-bottom: 22px;
}

.experience__company-name {
  font-size: 11.1px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-bottom: 13px;
}

.experience__description {
  font-size: 11.1px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #ffffff;
  max-width: 336px;
}

.experience__bottom {
  margin-top: 61px;
  display: inline-block;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #9f9f9f;
  margin-bottom: 0;
  position: relative;
}

.experience__bottom:after {
  content: '';
  display: block;
  position: absolute;
  width: 118px;
  height: 83px;
  background: url(../img/experience_arrow.png) no-repeat;
  left: 105.6%;
  top: 43%;
}